.env
/data
/training/data
run.txt
/__pycache__
/config/__pycache__
/core/__pycache__
/lisajaanu
/memory/__pycache__
actions/__pycache__
/voice/kokoro_models
temp_audio.wav
temp_tts.mp3
/voice/__pycache__
/Desktop_Switch_repo
VirtualDesktopAccessor.dll
data/whatsapp_profile
/docs/plans
LISA_ROADMAP.html
cartesia_voice.py 
